@model AlumnoModel
@{
    ViewData["Title"] = "Informacion de Alumno";
    Layout = "Simple";
}
<
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <h2>Nombre : @Model.Nombre</h2>
    <h2>Id : @Model.Id </h2>
    <h2>Curso Id : @Model.CursoId </h2>
</div>



